
<div class="col-md-10 col-centered">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">
      <h3>发起活动</h3>
      </h3>
  </div>
  <div class="panel-body">
    <%= simple_form_for [:admin,@job] do |f| %>
    <%= f.input :title %>
    <%= f.input :description %>
    <%= f.input :wage_lower_bound, :label => "交易金额" %>
    <%= f.input :wage_upper_bound, :label => "交易区域" %>
    <%= f.input :contact_email %>
    <%= f.input :is_hidden %>
      <%= f.submit "发送" %>
    <% end %>
  </div>
</div>
</div>
