<div class="col-md-8 col-centered">
<h3> 宝贝描述 <%= @job.title %> </h3>
<hr>
<%= simple_form_for [@job, @resume] do |f| %>
  <%= f.input :content %>
  <%= f.input :attachment %>
  <%= f.submit "送出" %>
<% end %>
</div>
